/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers -------------------------------------------------------------- */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

/* end reset css ----
----------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/


body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	display: flex;
	flex-direction: column;
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* ÉLÉMENTS CHANGEANTS EN FONCTION DES STATUTS LOGIN ET LOGOUT --------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------- */


.loginLink {
	display: block;
}

.logoutButton {
	display: none;
}

.modifProfile, .modifWork {
	display: none;
	text-decoration: none;
    color: black;
	font-size: 14px;
	padding: 10px 0 0 57px;
}

.modifIcon {
	padding-right: 11px;
}

.titleContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
    width: 30%;
}

/* AJOUT DES STYLES DU MENU DE FILTRES --------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------*/

.filters {
	display: flex;
	flex-direction: row;
	margin: 51px 20%;
	justify-content: space-between;
}

.filters li {
	padding: 12px;
	color: #1D6154;
	font-size: 18px;
	font-family: 'Syne';
	border: solid 1px #1D6154;
	border-radius: 24px;
}

.filters li:hover {
	color: white;
	background-color: #1D6154;
}

li.allCategories {
	color: white;
	border: 0px;
	background-color: #1D6154;
	border: solid 1px white;
	
}

li.allCategories:hover {
	color: #1D6154;
	background-color: white;
	border: solid 1px #1D6154;
}

/* AJOUT DES STYLES DE LA PAGE LOGIN ----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------*/

.bold {
	font-weight: 800;
}

.loginTitle {
	width: 100px;
	margin: 37px auto;
}

.loginForm {
	width: 379px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.emailForm, .passwordForm {
	display: flex;
	flex-direction: column;
}

.buttonForm {
	display: flex;
	flex-direction: column-reverse;
}

.emailField, .passwordField {
	height: 51px;
	border: none;
	box-shadow: 5px 5px 5px rgba(0,0,0,8%);
	margin-bottom: 37px;
}

.submitButton {
	padding: 12px;
	color: white;
	border: 0px;
	background-color: #1D6154;
	border: solid 1px white;
	border-radius: 24px;
	font-size: 14px;
	font-family: 'Syne';
	width: 179px;
    margin: 0 auto 30px auto;
}

.forgottenPwButton {
	background: none;
	border: none;
	text-decoration: underline;
}

.loginFooter {
	margin-top: 379px;
}

.passwordLabel, .emailLabel {
	margin-bottom: 7px;
}

/* AJOUT DES STYLES DE LA MODALE ---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------*/

.modalWork {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.8);
}

.modalWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
	width: 630px;
	height: 731px;
	background-color: white;
	border-radius: 10px;
}

aside div h1 {
	display: block;
	margin: 60px auto 46px auto;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 500;
    color:black;
}

.removeGalleryButton {
	font-family: 'Syne';
	font-size: 14px;
    font-weight: 400;
    color:#D65353;
	border: none;
	background: none;
	padding: 23px 0 48px 0;
}

.addPicButton {
	margin: 0 auto 0 auto;
	color: white;
	border: 0px;
	background-color: #1D6154;
	border: solid 1px white;
	border-radius: 24px;
	font-size: 14px;
	font-family: 'Syne';
	width: 237px;
	height: 36px;
}

.modalButtons {
	padding: 38px 90px 23px 90px;
	border-top: solid 1px rgb(179,179,179); 
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
}

.closeButton {
	position: relative;
	bottom: 334px;
    left: 609px;
    border: none;
    background: none;
    font-size: 20px;
}